body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

header h1 {
    color: white;
}

h2, h3 {
    color: #4CAF50;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#lugares .lugar {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
}

#lugares .lugar img {
    max-width: 70%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}



/* Estilos generales para las secciones */
main section {
    text-align: center; /* Centra el contenido del contenedor */
    margin-bottom: 40px; /* Añade un margen inferior para separar las secciones */
}

main section img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    max-width: 500px; /* Ajusta el ancho máximo a 500 píxeles */
    height: auto; /* Mantiene la relación de aspecto */
    margin-top: 20px; /* Añade un margen superior para separar de otros elementos */
}




/*#historia {
/*    text-align: center; /* Centra el contenido del contenedor */
/*}

/*#historia img {
/*    width: 100%; /* Ajusta el ancho al 100% del contenedor */
/*    max-width: 600px; /* Ajusta el ancho máximo a 600 píxeles */
/*    height: auto; /* Mantiene la relación de aspecto */
/*    margin-top: 20px; /* Añade un margen superior para separar de otros elementos */
/*} 


        /* Estilo para el texto "Bienvenido a Iztapalapa" */
.welcome-text {
    color: white; /* Cambia el color del texto a blanco */
    background-color: green; /* Mantén el fondo verde si lo deseas */
    font-size: 2em;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
